
<header>
  <div>
    <h1 class="title-global">
      <a href="/">Mr. Wolf Developer</a>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="/about">[About]</a>
        </li>
        <li>
          <a href="/blog">[Blog]</a>
        </li>
        <li>
          <a href="/events">[Events]</a>
        </li>
        <li>
          <a href="https://teespring.com/stores/advent-of-code" target="_blank">
            [Shop]
          </a>
        </li>

      </ul>
    </nav>
  </div>
</header>
